* {
    box-sizing: border-box;
}

body {
    background: #111;
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a[href] {
    color: cornflowerblue;
}

.symbol-grid {
    display: grid;
    gap: 1em;
    width: calc(100vw - 1em);
    height: calc(100vh - 9em);
}

/* Grid Row/Column Layouts */
.symbol-grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
@media screen and (max-aspect-ratio: 3/4) {
    .symbol-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
@media screen and (max-aspect-ratio: 9/16) {
    .symbol-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}
@media screen and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9) {
    .symbol-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}
@media screen and (min-aspect-ratio: 16/9) {
    .symbol-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.symbol {
    margin: 0.25em;
    background-color: #111;
    border-radius: 0.25em;
    border: 1px solid #ddd;
    overflow: auto;
    float: left;
    position: relative;
}

.symbol label {
    float: left;
    width: 100%;
    height: 100%;
}

.symbol label img {
    max-width: 100%;
    max-height: calc(100% - 1em);
}

.symbol label span {
    background: rgba(16, 16, 16, 0);
    font-weight: bold;
    text-align: center;
    padding: 0.25em 0;
    display: block;
    width: 100%;
    height: 100%;
}
.symbol label span > div {
    position: absolute;
    top: 0;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.symbol label input {
    position: absolute;
    top: -10em;
}

.symbol input:hover+span {
    background-color: #444;
}

.symbol input:checked+span {
    background-color: #888;
}

.symbol input:checked:hover+span {
    background-color: #888;
}